<?xml version="1.0" encoding="UTF-8" ?>
<XML>
	<XMLHEADER>version="1.0"</XMLHEADER>

	<SKIN>Default</SKIN>

	<DEFFONT>Arial</DEFFONT>

	<IME>false</IME>

	<BAREPORT>
		<ADDR>www.battlearena.com</ADDR>
		<DIR>incoming/gunz_global</DIR>
	</BAREPORT>

	<EMBLEM_URL>http://www.gunzonline.co.in</EMBLEM_URL>
	<CASHSHOP_URL>http://www.gunzonline.co.in/shop</CASHSHOP_URL>

	<HOMEPAGE>
	    <URL>http://www.gunzonline.com</URL>
	    <TITLE>GunZ the Dual</TITLE>
	</HOMEPAGE>

	<LOCATORLIST>
		<LOCATOR id="1" IP="202.92.10.152" />
		<LOCATOR id="2" IP="202.92.10.153" />
	</LOCATORLIST>

	<TLOCATORLIST>
		<LOCATOR id="1" IP="202.92.10.176" />
	</TLOCATORLIST>
</XML>
